@import "compass/css3/border-radius";
@import "compass/css3/images";

.docs-header {
  margin-top: 30px;
  margin-bottom: 30px;
}
.jumbo-container {
  color: #093857;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
  height: 200px;

  h4 {
    color: #FFF;
    font-weight: 300;
  }
}

.back {
  padding-left: 10px;
  padding-top: 10px;
  display: block;
  font-size: 12px;
  @include background-image(linear-gradient(left, #3498d9, #67b2e3));
  color: #f5f5f5;
}

.docs-example {
  border: 1px solid #e1e1e8;
  border-bottom: none;
  padding: 20px 20px 10px 20px;
  @include border-top-radius(4px);

  &:before {
    content: "Example";
    color: #BBB;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 20px;
    display: block;
  }

}
.docs-code {
  background: #f7f7f9;
  color: #2980b9;
  padding: 0px 20px;
  @include border-bottom-radius(4px);
  border-left: 1px solid #e1e1e8;
  border-right: 1px solid #e1e1e8;
  border-bottom: 1px solid #e1e1e8;
  margin-bottom:20px;

  pre {
    background: none;
    border: none;
    margin-top: 0;
    margin-bottom: 0;

    code {
      background: none;
      margin-top: 0;
    }
  }

  .docs-code-attribute {
    color: #d44950;
  }
}

.docs-focus {
  border-color: rgba(#3498db,.8) !important;
}

.docs-white-text {
  * {
    color: #FFF !important;
  }
}
