/** Styles for filters **/
#tag-list li{
  display: inline;
}    
#tag-list li a {
  color: #BBB;
  padding: 10px 20px;
  text-transform: uppercase;
}
#tag-list li .active {
  color: #08c;
  border-radius: 5px;
}

